$danger: #f53c17; // 危险、错误
$primary: #1686f5; // 主色调、链接
$words: darken(lightslategray,13%); // 大部分文字、深色文字
$lightWords: lightslategray; // 少部分文字、浅色文字
$warn: #dd9a37; // 警告
$success: #65bd30; // 成功
$gray: lighten(lightslategray,20%);; // 灰色
$dark: #202020; // 深色
$base-size: 14px; //基础文字大小
$base-radius: 4px; //基础圆角
$box-shadow: 3.5px 3px 6.5px 0.5px rgba(0, 0, 0, 0.219);
//
@mixin spin() {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}